$product_order-accent: rgb(36, 37, 145);
$product_order-accent-light: rgb(59, 55, 183);
$product_order-accent-dark: rgb(0, 16, 87);

$form-max-width: 400px;
$text-block-width: 300px;
$color-text-info: rgb(110, 110, 110);
$block-spacing: 25px;
$color-form-background: #f6f6f6;
$color-border: #dbdbdb;

// Fieldset
.product_order-block {
  border: none;
  max-width: 350px;
}

// Row
.product_order-table-row {
  display: flex;
}

.product_order-table-row span {
  padding: 5px 5px;
}

// Head
.product_order-table-header {
  border-top: 1px solid silver;
}

// Number
.product_order-number {
  min-width: 50px;
  text-align: right;

  .form-item {
    margin: 0;
  }
}

// Times
.product_order-times {
  color: silver;
  width: 20px;
  text-align: center;
}

// Names
.product_order-name {
  min-width: 100px;
  max-width: 120px;
  text-align: left;
}

// Price
.product_order-price {
  min-width: 50px;
  text-align: right;
}

// Currency
.product_order-currency {
  color: silver;
}

// Shipping
.product_order-row-shipping {
  border-top: 1px solid silver;
}

// Total
.product_order-row-total {
  border-bottom: 3px solid silver;
  font-weight: bold;
}

// INFO

// info-lieferung
.product_order-info-lieferung {
  margin-top: 10px;
}

.product_order-info {
  font-style: italic;
  color: grey;
}

.product_order-info-text h3 {
  font-weight: bold;
  margin: 1em 0 0 0;
}

// Address

.form-check label {
  display: inline;
  cursor: pointer;
}

.form-group-zip-city {
  display: flex;
  align-content: space-between;
}

.form-item-zip-code {
  display: inline-block;
  padding-right: 2px;
}

.form-item-city {
  flex: auto;
  padding-left: 2px;
}

.product_order-receipt address {
  padding-left: 5px;
  color: black;

  i,
  svg {
    color: grey;
    margin-right: 5px;
  }

  .address-name {
    font-weight: bold;
  }

  .address-city {
    margin-bottom: 15px;
  }
}

.product_order-info-lieferung {
}
